<div class="conatiner">
  <div class="login_wrapper">

<form [formGroup]="forgotPWD" (ngSubmit)="onSubmit( )">

<div class="login-form">

 <h2>{{ errorMessage }}</h2>

  <div class="form-group ">
    <input type="email" class="form-control" placeholder="Email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >

    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
  </div>

  </div>
  <div class="btns">
    <div class="left">
  <button type="submit" class="btn  btn-sm submit_btn mr-2">Submit</button>
  </div>
  <div class="right">

<p class="mt-2"><a routerLink='/' class="login_link" >Login</a></p>
</div>
</div>
</div>
</form>
</div>
</div>
