* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}


.login_wrapper{
  min-height: 100vh;
  background-color: #FFF;
  max-width: 900px;
  margin: 0px auto;
  margin-top: -30px;
}

.login-form {
  width: 450px;
  padding: 40px 30px;
  background: rgb(252, 246, 213);
  margin: auto;
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;

}

.form-group {
  position: relative;
  margin-bottom: 15px
}

.form-control {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 7px 5px 15px;
  background-color: transparent;
  color: #666;
  border: 0px solid #ddd;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
}

.form-group .mdi {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #999
}
.login_link{
  border: 1px solid red;
  padding: 6px 25px;
  border-radius: 20px;

  display: inline-block;
  color: #FFF;
  background-color: #ec0000;
  cursor: pointer;
}
.submit_btn{
  border: 1px solid red;
  padding: 0px 25px;
  height: 35px;
  width: 50%;
  border-radius: 20px;

  color: #FFF;
  background-color: #ec0000;
  cursor: pointer;
}






.log-btn {
  background: #ec0000;
  display: inline-block;
  border-radius: 50px;
  padding: 5px 20px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  border: none
}





a {
  text-decoration: none !important
}


.logso{
  margin: 30px;
  position: relative;
  top: 75px;
}
.link{
    display: block;
    font-size: 12px;
    letter-spacing: normal;

}

.login_btm{

  padding: 20px 0px 0px 0px;
    p{
        font-size: 12px;
        margin-bottom: 0px;
    }
}


.btns{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  .right{
    text-align: right;

  }

}
