
<section id="content" class="gray-area">
  <div class="col-lg-12 container">

      <div class="container-toggle box" id="accordion1">
          <div class="panel style1">
              <h4 class="panel-title"> <a href="#acc1" data-toggle="collapse" data-parent="#accordion1" data-abc="true" aria-expanded="true" class="">For what reason would </a> </h4>
              <div class="panel-collapse collapse in" id="acc1" aria-expanded="true" style="">
                  <div class="panel-content">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugiat molestias, perspiciatis sit ipsam alias quam? Vel aliquam distinctio ad.</p>
                  </div>
              </div>
          </div>
          <div class="panel style1">
              <h4 class="panel-title"> <a class="collapsed" href="#acc2" data-toggle="collapse" data-parent="#accordion1" data-abc="true" aria-expanded="false">For what reason would be seal</a> </h4>
              <div class="panel-collapse collapse" id="acc2" aria-expanded="false">
                  <div class="panel-content">
                      <p class="mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos quo cumque ab ad optio consequuntur explicabo! Vitae deserunt ratione temporibus odio beatae deleniti, eligendi, itaque recusandae qui dolore, sit neque?</p>
                  </div><!-- end content -->
              </div>
          </div>
          <div class="panel style1">
              <h4 class="panel-title"> <a class="collapsed" href="#acc3" data-toggle="collapse" data-parent="#accordion1" data-abc="true" aria-expanded="false">For what reason would Be Taken</a> </h4>
              <div class="panel-collapse collapse" id="acc3" aria-expanded="false">
                  <div class="panel-content">
                      <p class="mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, repellendus. Ab perferendis, culpa adipisci porro alias dolore excepturi incidunt non velit magnam cum praesentium temporibus nisi sapiente quibusdam, deleniti in.</p>
                  </div><!-- end content -->
              </div>
          </div>
      </div>
  </div>
</section>




<h2 class="primary_heading">Declaration</h2>


<h2 class="sub_heading">By Selecting to continue Below</h2>

<p class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolorem, nihil placeat blanditiis dolore illo officiis nemo fugiat aspernatur. Veniam rerum asperiores placeat. Ad impedit vero unde reprehenderit officiis at quod soluta animi quaerat eligendi cum hic consectetur illum, commodi quas ipsam repellat dolor possimus laboriosam optio mollitia corrupti deserunt veniam. Sit modi corrupti aliquam at! Necessitatibus quaerat eaque aperiam minus reiciendis eligendi illum distinctio! Harum neque repellendus veritatis voluptate nam cusantium fugit libero minus laudantium quo porro blanditiis odio! Libero, praesentium. Nisi placeat architecto quod aut aliquam deserunt, ipsa soluta, libero voluptatem repellendus nesciunt iure officia accusamus fugiat maxime commodi quasi temporibus natus illo cum optio nulla facilis reiciendis eaque. Architecto!</p>

<h2 class="links">General Mortagage Declaration</h2>

<h2 class="links">Data Protection Statmenets</h2>

<p class="texts">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum qui repellat dolorem quidem accusamus at ratione commodi dolores sit repudiandae?</p>

<div class="footer_btn py-3">
    <div class="left_btn">
        <button class="btn btn-primary commn_btn">Save Comeback</button>
    </div>
    <div class="right_btn">
      <button class="btn btn-primary commn_btn">Save Contine</button>
    </div>
</div>

<div class="footer_link">
  <div class="left_link">
     <a href="">back</a>
  </div>
  <div class="right_link">
    <a href="">Cancel</a>
  </div>
</div>
