.footer_grid{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 1rem;
      .box {

          display: flex;
          justify-content: center;
          align-items: center;
        p{
          font-size: 13px;
          margin: 0px;
          padding: 0px;
        }
      }



}
