<div class="footer py-4 text-center bg-light">
          <div class="footer-wraper">
              <div class="footer_grid">
                  <div class="box">
                        <p>Online Banking Guartanee</p>
                  </div>
                  <div class="box">
                    <p>Online Banking Guartanee</p>
                  </div>
                  <div class="box">
                    <p>Online Banking Guartanee</p>
                  </div>
                  <div class="box">
                    <p>Online Banking Guartanee</p>
                  </div>
              </div>
          </div>
</div>

