<h1 class="what_happens ">Mortgage Options</h1>

<h6 class="py-3">Filter Mortagage</h6>


<p class="texts mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quibusdam quod in provident labore veniam, quis dolorem earum sequi nam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, atque.</p>


<table datatable    class="table table-striped table-bordered table-sm row-border hover"  >
  <thead>
    <tr class="bends text-white">

      <th>First name</th>
      <th>Last name</th>
      <th>DOB</th>
       <th>email</th>
    </tr>
  </thead>
  <tbody *ngIf="persons?.length != 0">
    <tr *ngFor="let person of persons">
      <td>{{ person.firstname }}</td>
      <td>{{ person.lastname }}</td>
      <td>{{ person.dob }}</td>
      <td>{{ person.email }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="persons?.length == 0">
    <tr class="text-center bg-warning text-dark">
      <td colspan="4" class="no-data-available">No Record found !</td>
    </tr>
  </tbody>
</table>





<div class="free_valuation py-4">

        <span class="fixed py-3">Lorem ipsum dolor </span> - <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quae repudiandae velit ea aliquid cupiditate unde veritatis, odit labore ullam.</span>

        <h6 class="py-3 fixed">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, praesentium.</h6>
</div>


<div class="">

  <span class="fixed">Fixed rates </span> - <span class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quae repudiandae velit ea aliquid cupiditate unde veritatis, odit labore ullam.</span>

</div>


<div class="pb-3 pt-3">
  <span class="fixed">Fixed rates </span> - <span class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quae repudiandae velit ea aliquid cupiditate unde veritatis, odit labore ullam.</span>

</div>

<div class="pb-3 pt-3">
  <span class="fixed">Fixed rates </span> - <span class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quae repudiandae velit ea aliquid cupiditate unde veritatis, odit labore ullam.</span>

</div>


<div style="width:100%; height: 100%;">
  <table id="dynamic-table" class="table table-stripedtable-hover" style="width:100%; height: 100%;">


  </table>
</div>






<div class="borders  mt-4">
  <h2 class="what_happens py-2">  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, quos. </h2>

  <p class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae recusandae dolorem cupiditate dolore? Reprehenderit officia, nam fugit quibusdam unde vero sit adipisci totam excepturi molestias inventore, iusto quo. Illo mollitia incidunt sunt ab assumenda molestiae ipsam eaque dolores est aperiam</p>

</div>
