<h1 class="main_heading">How to apply for your mortgage</h1>

<p class="sub_heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, corrupti!</p>


<div class="how_to_apply">
      <div class="how_to_app">
          <div class="online">
                <div class="main_heading text-center">
                <h2 class="main">Online</h2>
                <p class="sub_heading">With out advice</p>
                </div>
                <p class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, omnis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eos rem enim voluptate qui quia fuga hic! Cum, perferendis accusamus.</p>

                <h3 class="what_happens">What happens next ?</h3>
                <p class="texts">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, temporibus.</p>
                <p class="texts"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui similique ducimus placeat excepturi distinctio, quos vitae laborum ut obcaecati! Distinctio?  </p>

                <p class="texts">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis labore corrupti rerum maxime ipsa soluta harum atque unde, quia, nesciunt fuga exercitationem aut. Iste et aliquam in accusantium, iure ipsam optio beatae non, eius sed explicabo quo expedita eligendi fuga. </p>
                <div class="text-right py-2">
                <button class="btn btn-primary continoous_btn"> Continoous online</button>
                  </div>
          </div>
          <div class="by_phone">
                <div class="main_heading text-center">
                <h2 class="main">By Phone</h2>
                <p class="sub_heading">With Advice</p>
                </div>
                <p class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, omnis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eos rem enim voluptate qui quia fuga hic! Cum, perferendis accusamus.</p>

                <h3 class="what_happens">What happens next ?</h3>
                <p class="texts"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, temporibus.</p>
                <p class="texts"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui similique ducimus placeat excepturi distinctio, quos vitae laborum ut obcaecati! Distinctio?  </p>

                <p class="texts">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis labore corrupti rerum maxime ipsa soluta harum atque unde, quia, nesciunt fuga exercitationem aut. Iste et aliquam in accusantium, iure ipsam optio beatae non, eius sed explicabo quo expedita eligendi fuga. </p>
                <div class="text-right py-2">
                <button class="btn btn-primary continoous_btn"> Continoous online</button>
                </div>
          </div>
      </div>

      <div class="implement_info">
        <h2 class="what_happens py-2">implement  information</h2>

        <div class="borders">
            <h2 class="what_happens py-2">  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, quos. </h2>

            <p class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae recusandae dolorem cupiditate dolore? Reprehenderit officia, nam fugit quibusdam unde vero sit adipisci totam excepturi molestias inventore, iusto quo. Illo mollitia incidunt sunt ab assumenda molestiae ipsam eaque dolores est aperiam officiis, animi asperiores, sequi beatae recusandae laboriosam! Dolores quaerat, accusamus soluta nam cumque voluptate. Aut, veritatis recusandae sequi facere eveniet vitae iste, libero voluptatibus minima ipsum laudantium rerum dignissimos quos tempora! Repudiandae aliquam totam sed ipsa pariatur molestias dolor fugiat ea unde ratione. Quibusdam nisi, at voluptas facilis maxime quidem natus fuga porro, consequatur distinctio minus aliquam earum deserunt?</p>

        </div>
      </div>
</div>
