
<div class="col-md-12">

  <div class="row">
      <div class="col-md-3 left_side">
        <ul class="types_links">
          <li><a routerLinkActive="active" routerLink='HowToApply'>How to apply</a><li>
          <li><a routerLinkActive="active" routerLink='MortageOptions'>Mortgage options</a><li>
          <li><a routerLinkActive="active" routerLink='ConfirmMortagage'>Confirm mortagage</a><li>
          <li><a routerLinkActive="active" routerLink='properties'>Properties details</a><li>
          <li><a routerLinkActive="active" routerLink='Valuation'>Valuation</a><li>
          <li><a routerLinkActive="active" routerLink='Others'>Others occupants/Solicitor </a><li>
          <li><a routerLinkActive="active" routerLink='PaymentDetails'>Payment details</a><li>
          <li><a routerLinkActive="active" routerLink='review'>Review and submit</a><li>
      </ul>
      </div>
      <div class="col-md-9 right_side">
        <router-outlet></router-outlet>
      </div>
  </div>



</div>




