.heading{
    font-size: 20px;
    font-weight: 700;

}

.sub_heading{
    font-size: 15;
}

.primary_heading{
    font-size: 20px;
    font-weight: 700;
}

.texts{
    font-size: 13px;
}

.form-control{
  border: 0px ;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  padding: 0px;
  font-size: 14px;
}
.form_wraper{
    margin-left: -10px;
}


.direct_debt{
  background-origin: 1px solid #ccc;
  padding: 10px;
}


.important_info{
  padding: 30px 0px;
      h3{
          font-size: 20px;
          font-weight: 700;
    }
}


.your_home{
      border: 1px solid #ccc;
      padding: 10px;
      .texts{
          font-size: 13px;
      }
      .primary_heaing{
          font-size: 15px;
          font-weight: 700;
      }
}

.save_cont{
      border-radius: 30px;
      border: 1px solid #000;
      background-color: red;
      display: inline-block;
      font-size: 15px;
}

.direct_debt{
    background-origin: 1px solid #ccc;
    border: 1px solid #ccc;
    margin: 50px 0px;
    h2{
      font-size: 20px;
      padding:20px 0px;
    }
    .list{
        list-style-type:disc;
        padding: 10px 20px;
        font-size: 15px;
        margin: 10px 0px;

        li{
          padding: 10px 0px;
        }
    }
}



.switch-field {
  display: flex;

  overflow: hidden;
  }

  .switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  }

  .switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    width: 50%;
    padding: 18px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);

  transition: all 0.1s ease-in-out;
  }

  .switch-field label:hover {
  cursor: pointer;
  }

  .switch-field input:checked + label {
  background-color: red;
  box-shadow: none;
  color: #fff;
  }

  .switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
  }

  .switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
  }
