<div class="payment_details mt-4 mb-3">
      <h1 class="heading">Payment Details</h1>
      <p class="sub_heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique deserunt odit maiores error earum voluptate impedit optio deleniti nostrum aspernatur!</p>

</div>

<h2 class="primary_heading">Your  current Circumstanceces</h2>
<hr class="h_bar">

<p class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati doloremque id consequatur similique officia aperiam quae blanditiis enim? Ab, fugiat!</p>

<p class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum asperiores a sunt quaerat excepturi eligendi consequuntur, assumenda exercitationem amet minima voluptatibus dicta quidem numquam sit hic? Dolorum quam eveniet perspiciatis.</p>

<p class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum asperiores a sunt quaerat excepturi eligendi consequuntur, assumenda exercitationem amet minima voluptatibus dicta quidem numquam sit hic? Dolorum quam eveniet perspiciatis.</p>



<h2 class="primary_heading py-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit beatae aliquam non exercitationem.</h2>

<h2 class="primary_heading">Your Direct debit details</h2>
<hr >



<div class="col-md-12 mt-3">
  <div class="form_wraper">
    <p class="">Who should we contact</p>
    <form >


      <div class="form-group w-50">

        <select class="form-control" id="sel1">
          <option>Sort Code </option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>

      <div class="form-group w-50">

        <input type="text" class="form-control" id="" placeholder="Account Number" name="Postcode">
      </div>
      <div class="form-group w-50">
        <input type="text" class="form-control" id="" placeholder="Account holder Name Number" name="address">
      </div>




  <div class="mb-5 mt-5">

    <div class="switch-field">
      <input type="radio" id="radio-three" name="switch-two" value="yes" checked/>
      <label for="radio-three text-dark">on First Day each of month</label>
      <input type="radio" id="radio-four" name="switch-two" value="maybe" />
      <label for="radio-four">on a specific day each month</label>
     </div>
     </div>


    </form>
  </div>
  </div>


<div class="direct_debt">
    <h2>Direct Debt Guarantee</h2>
    <p class="texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, reiciendis?</p>
    <ul class="list">
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, repudiandae! Non, porro voluptas illo ullam reiciendis obcaecati. Laboriosam, alias sint.</li>

        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, repudiandae! Non, porro voluptas illo ullam reiciendis obcaecati. Laboriosam, alias sint.</li>

        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, repudiandae! Non, porro voluptas illo ullam reiciendis obcaecati. Laboriosam, alias sint.</li>

        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, repudiandae! Non, porro voluptas illo ullam reiciendis obcaecati. Laboriosam, alias sint.</li>
    </ul>
</div>

<div class="savecont py-3">
<button class="btn btn-primary save_cont">Save & Continues</button>
</div>

<div class="important_info">
    <h3 class="py-2">Importnt information</h3>

    <div class="your_home">
        <h2 class="primary_heaing">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, numquam.</h2>
        <p class="texts"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas fugit eos cum? Exercitationem magni consequatur voluptatem id impedit eos a. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam cum fuga ducimus illum illo praesentium saepe assumenda similique, quia animi? </p>
    </div>
</div>
