.page_not_found{
    min-height: 100vh;
    background-color: #FFF;
    display: grid;
    place-items: center;
}

.back_home{
    background-color: red;
    border-radius: 30px;
    border: 0;
    padding: 10px 20px;
    color: #fff;
}

h2{
   font-size: 50px;

}
